*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	background-color: gray;
	color: black;
	min-height: 200vh;
	font-family: 'Montserrat', sans-serif;
}


button{
	margin: 0.75rem;
	padding: 0.25rem;
	cursor: pointer;
	background-color: white;
	height: 100px;
	width: 150px;
	border: 5px solid black;
	font-size: 30px;
}

.modal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: gray;
	z-index:1000;
	overlfow: auto;
	display: none;
	justify-content: center;
	align-items: flex-start;

}

.modal.modal-show{
	animation: fadeIn 0.1s ease-in-out forwards;
}

.modal.modal-hide{
	animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}



.modal-content {
	background-color: white;
	width: 50%;
	max-height: 75%;
	margin: 2rem;
	padding: 2rem;
	border-radius: 0.25rem;
	box-shadow: 0 4px 20px black;
	overflow: auto;
	list-style-type: circle; 
}

.modal.modal-show .modal-content{
	animation: fadeInDown 0.5s ease-in-out forwards;
}

.modal.modal-hide .modal-content{
	animation: fadeOut 0.5s ease-in-out forwards;
}


.modal-content h1{
	text-align: center;
	margin-bottom: 2rem;
}

.modal-content p{
	margin: 1rem 0;
	line-height: 1.5rem;
}

.modal-close{
	position: absolute;
	top: 0;
	right: 0px;
	font-size: 1.75rem;
	font-weight: bold;
	padding: 0 0.75rem;
	color: black;
	cursor: pointer;
	user-select: none;

}

.modal-close:hover, .modal-close:focus{
	color: grey;
}

/* Animations */

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeInDown {
	0% {
		/* opacity: 0; */
		transform: translateY(-3rem);
	}
	100% {
		/* opacity: 1; */
		transform: translateY(0);
	}
}

@keyframes fadeOutUp {
	0% {
		/* opacity: 1; */
		transform: translateY(0);
	}
	100% {
		/* opacity: 0; */
		transform: translateY(-3rem);
	}
}


@media(max-width: 992px) {
	html { font-size: 14px; }
	.modal-content { width: 80%; }
}

@media(max-width: 767px) {
	html { font-size: 12px; }
	.modal-content { padding: 2rem 1rem 1rem 1rem; width: 90%; }
	.modal-content h2 { margin-bottom: 1.5rem; }
}



/* 

body{
	margin: 0;
	border: 5px solid blue;
	position: relative;
	background: url(https://i.imgur.com/MiaZvhi.png);
	background-size: cover;
	background-repeat: no-repeat;
	
}

h1{
	font-style: italic;
	
}


.board-container{
	position: relative;
	margin: 10px;
	border: 5px solid green;
	height: auto;

}

.header{
	border: 5px solid yellow;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
	width: 900px;
	font-size: 60px;
}

.categories{
	display: flex;
	justify-content: space-between;
	border: 5px solid brown;
	font-size: 25px;
}


.fears{
	border: 5px solid black;
	justify-content: center;
	margin: 5px;
	text-align: center;
}

.ancient{
	border: 5px solid black;
	justify-content: center;
	margin: 5px;
	text-align: center;
}
.literature{
	border: 5px solid black;
	justify-content: center;
	margin-top: 50px;
	text-align: center;
}
.relative{
	border: 5px solid black;
	justify-content: center;
	margin: 5px;
	text-align: center;
}
.lightning{
	border: 5px solid black;
	justify-content: center;
	margin: 5px;
	text-align: center;
}

.card-container{
	display: grid;
	grid-template-rows: repeat(8, auto);
	grid-gap: 15px;
	border: 5px solid red;
	justify-content: center;
	margin: auto;
	padding: auto;
	position: relative;

}

.card{
	background-color: white;
	height: 100px;
	width: 150px;
	font-size: 30px;
	border: 5px solid black;
}




.card_one_ancient{
	background-color: white;
	height: 100px;
	width: 150px;
	border: 5px solid black;
	font-size: 30px;
}

.card_one_literature{
	background-color: white;
	height: 100px;
	width: 150px;
	border: 5px solid black;
	font-size: 30px;
}

.card_one_relative{
	background-color: white;
	height: 100px;
	width: 150px;
	border: 5px solid black;
	font-size: 30px;
}

 */



.card_one_fears_btn{
	background-color: white;
	height: 100px;
	width: 150px;
	border: 5px solid black;
	font-size: 30px;
}


